.w-33 {
    width: 33.3%;
}

.min-w {
    min-width: 420px;
}

/* a {
    color: aliceblue;
} */

.h-200 {
    height: 200px;
    overflow-y: scroll;
}

.h-400 {
    height: 400px;
    overflow-y: scroll;
}

.container-min-w {
    min-width: 420px;
}

.bg-autopalooza {
    background-image: linear-gradient(#011627 25%, #12585D, #239993);
}

label {
    color: black;
}

/* .is-disabled {
    cursor: not-allowed;
    opacity: 0.3;
    text-decoration: none;
}
.is-disabled a {
    cursor: not-allowed;
    opacity: 0.3;
    text-decoration: none;
} */
