.bg-autopalooza {
    background-image: linear-gradient(#011627 25%, #12585D, #239993);
    min-height: 100vh;
    /* color: white; */
  }

h1 {
    color: white;
}
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

h4 a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e71d36;
}

.auth-user {
    font-size: 24px;
    color: white;
    margin-left: 20px;
}

.btn-annuler {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    border: solid #011627 2px;
    font-family: Arial;
    background: #011627 !important;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 0px 3px;
}

.btn-annuler:hover {
    background-color: #ffffff !important;
    color: #011627 !important;
    text-decoration: none;
}

.btn-menu {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    border: solid #e71d36 2px;
    font-family: Arial;
    background: #e71d36 !important;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 0px 3px;
}

.btn-modifier {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    border: solid #011627 2px;
    font-family: Arial;
    color: #011627 !important;
    font-size: 20px;
    background: #ff9f1c;
    /* padding: 5px 10px 5px 10px; */
    text-decoration: none;
    margin: 0px 3px;
}

.btn-modifier:hover {
    background: #ffffff;
    color: #011627 !important;
    text-decoration: none;
}

.btn-retour {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    border: solid #011627 2px;
    font-family: Arial;
    background: #e71d36 !important;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 0px 3px;
}

.btn-retour:hover {
    background-color: #ffffff !important;
    color: #011627 !important;
    text-decoration: none;
}

.btn-search {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    border: solid #011627 2px;
    font-family: Arial;
    color: #ffffff !important;
    font-size: 14px;
    background: #e71d36;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}

.btn-supprimer {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    border: solid #011627 2px;
    font-family: Arial;
    color: #ffffff !important;
    font-size: 20px;
    background: #e71d36;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    margin: 0px 3px;
}

.btn-supprimer:hover {
    background: #ffffff;
    color: #011627 !important;
    text-decoration: none;
}

.btn-position {
    display: flex;
    padding-top: 10px;
    justify-content: end;
}

.container-min-w {
    /* min-width: 410px; */
    min-width: 288px;
}

.d-flex {
    display: flex !important;
}

.dashboard {
    font-size: 54px ;
    font-weight: bold;
    color: white;
    font-family: boucherie-sans-inline, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}

.justify-content-start {
    justify-content: start !important;
}

.empty {
    justify-content: center !important;
    font-size: 30px;
    font-weight: bold;
}

.entete {
    display: flex;
    align-items: center !important;
}

.form-h-300 {
    height: 300px !important;
}

.form-h {
    height: auto;
}

.form-actualite-h, .form-activite-h, .form-reservation-h {
    height: 500px !important;
}

.form-w {
    min-width: 412px;
}

.grille-h {
    height: 265px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.grille-h::-webkit-scrollbar {
    display: none;
}

.h-200 {
    height: 200px;
    overflow-y: scroll;
}

.h-300 {
    height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.h-300::-webkit-scrollbar {
    display: none;
}

.header-h {
    height: 40px;
}

.header-form-h {
    height: 75px;
}

.header-fs {
    font-size: 20px;
}

.header-form-fs, .header-form-search-fs, .header-form-pwd-fs {
    font-size: 36px;
}

.header-reservation-fs {
    font-size: 24px;
}

.input-search-client {
    height:15px !important;
    width: 300px !important;
}

.input-search-reservation {
    height:15px !important;
    width: 300px !important;
}

.label-fs {
    font-size: 24px;
}

.margin-top {
    margin-top: 15px;
}

.min-w {
    min-width: 410px;
}

.open-form {
    cursor: pointer;
}
.p-20 {
    padding: 20px;
}

.padding-top-form {
    padding-top: 150px;
}

.padding-top-form-forfait {
    padding-top: 100px;
}

label, input {
    color: black !important;
}

.search-field {
    display: flex;
}

.w-33 {
    width: 33.3%;
}

.wrapper {
    margin: 0px 20px;
}

/* Style des tableaux du dashboard */

table {
    font-size: 12px;
}
table thead{
    position: sticky !important;
}

table thead {
    inset-block-start: 0 !important; /* "top" */
}

table {
    border-collapse: collapse !important;
}

thead {
    position: sticky !important;
    top: 0 !important;
    border-bottom: 2px solid #ccc !important;
    background: #eee !important;
}

td {
    font-weight: bold;
}

/* Formulaire responsive */

/* Style inputs, select elements and textareas */
input[type=text], input[type=file], input[type=password], input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the container */
.container {
border-radius: 5px;
width: auto;;
padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }

    .input-search-client, .input-search-reservation  {
        height:15px !important;
        width: 150px !important;
    }

    .empty {
        justify-content: center !important;
        font-size: 24px;
        font-weight: bold;
    }

    .header-fs {
        font-size: 20px;
    }

    .header-form-fs {
        font-size: 24px;
    }

    .header-form-search-fs {
        font-size: 16px;
    }

    .header-form-pwd-fs {
        font-size: 20px;
    }

    .header-form-h {
        height: 50px;
    }

    .header-h {
        height: 40px;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        width: 412px !important;
        min-width: 412px !important;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        height: 500px !important;
    }
}

@media screen and (max-width: 1024px) {
    .padding-top-form, .padding-top-form-forfait {
        padding-top: 50px;
    }
}

/* NAV du dashboard */
#menu {
	background: #011627;
	color: #FFF;
	height: 80px;
	padding-left: 18px;
	border-radius: 0px;
	border-bottom: 8px solid #2ec4b6;
    font-family: protipo, sans-serif !important;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
    display: block;
    color: #fff;
    font-size: 26px;
    font-family: protipo, sans-serif;
    font-weight: 500;
	line-height: 70px;
	padding: 0 14px;
	text-decoration: none;
}
#menu a.dropdown-arrow:after {
	content: "\2B9F";
	margin-left: 5px;
}
#menu li a:hover {
	color: #2EC4B6;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 70px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 350px;
	background: #2EC4B6;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 26px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative; height: 50px;}
    #menu a {font-size: 18px;}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;font-size: 16px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input {position:absolute;top:0;left:0;display:block}
	#menu label {position:absolute;top:0;left:0;display:block}
    #menu label:before {
        font-size: 40px;
        content: "\2261";
        margin-left: 20px;
        color: white;
        position: absolute;
        top: -10px;
    }
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

