.w-33 {
    width: 33.3%;
}

.min-w {
    min-width: 420px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    color: red;
}

.h-200 {
    height: 200px;
    overflow-y: scroll;
}

.h-300 {
    height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.h-300::-webkit-scrollbar {
    display: none;
}

.form-h-300 {
    height: 300px !important;
    /* overflow-y: scroll; */
}

.form-actualite-h, .form-activite-h {
    height: 500px !important;
    /* overflow-y: scroll; */
}

.container-min-w {
    min-width: 420px;
}

.bg-autopalooza {
    background-image: linear-gradient(#011627 25%, #12585D, #239993);
}

.entete {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.header-h {
    height: 75px;
}

.header-fs {
    font-size: 36px;
}

.header-fs-24 {
    font-size: 24px;
}

.p-20 {
    padding: 20px;
}

label, input {
    color: black !important;
}

/* .is-disabled {
    cursor: not-allowed;
    opacity: 0.3;
    text-decoration: none;
}
.is-disabled a {
    cursor: not-allowed;
    opacity: 0.3;
    text-decoration: none;
} */

.auth-user {
    font-size: 24px !important;
    font-weight: bold;
}

.font-36 {
    font-size: 54px !important;
}

.search-field {
    display: flex;
}

.input-search {
    height:35px;
    width: 300px;
}

.empty {
    font-size: 36px;
    font-weight: bold;
}

/* Style des tableaux du dashboard */
table thead{
    position: sticky !important;
}

table thead {
    inset-block-start: 0 !important; /* "top" */
}

table {
    border-collapse: collapse !important;
}

th,
td {
    padding: 1rem !important;
}

thead {
    position: sticky !important;
    top: 0 !important;
    border-bottom: 2px solid #ccc !important;
    background: #eee !important;
}

td {
    font-weight: bold;
}
td:hover{
    background-color: #c5cbfa !important;
    color: aliceblue !important;
}

/* Formulaire responsive */

/* Style inputs, select elements and textareas */
input   , select, textarea{
    /* width: 100%; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* Style the submit button */
  /* input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  } */

  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }

    input[type=submit] {
        height:30px;
        width: 30px;
    }

    .input-search {
        height:15px;
        width: 150px;
    }

    .header-fs {
        font-size: 20px;
    }

    .header-h {
        height: 50px;
    }

  }
